body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

aside, main {
  padding: 1rem;
}

h1 {
  color: #420d30;
}

/* Styling for navigation */
nav div {
  background-color: #420d30;
  color: #e9dde5;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 1rem;
  padding-left: 0;
  margin: 0;
}

nav li {
  padding: 0.5em;
  font-size: 1.2rem;
}

nav li:first-child {
  font-weight: bold;
} 

nav li:nth-child(5) {
  margin-left: auto;
}

nav a {
  color: #e9dde5;
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: #ffffff;
}

/* Styling for flash-messages */
.flash {
  font-size: 0.9rem;
  padding: 1rem;
  max-width: 100%;
}

.flash-success {
  background-color: #b7e9bc;
  color: #052f08;
}

.flash-error{
  background-color: #da8c8c;
  color: #5f0d0d;
}

/* Styling for forms */
fieldset, .form {
  border: none;
  background-color: #caafc2;
  padding: 1rem;
  width: max-content;
}

legend {
  font-weight: bold;
}

fieldset label {
  margin-right: 1rem;
}

input {
  padding: 8px;
  font-size: 1rem;
  border: none;
}

button, .button {
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #420d30;
  color: #e9dde5;
  cursor: pointer;
}

.button {
  width: max-content;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.button a {
  color: #e9dde5;
  text-decoration: none;
  font-size: 0.9rem;
}

button:hover, button:active {
  color: #ffffff;
}

.button:hover a, .button:active a {
  color: #ffffff;
}

#password:valid {
  background-color: #b7e9bc;
}

#password:invalid {
  background-color: #da8c8c;
}

/* Styling for create and edit pages */
textarea {
  width: 500px;
  height: 300px;
  font-size: 1rem;
  padding: 8px;
  border: none;
  margin-bottom: 10px;
}

.createform label, .editform label {
  display: block;
  margin-bottom: 5px;
}

.createform input, .editform input {
  display: block;
  width: 500px;
  margin-bottom: 10px;
}

/* Styling for table, index page */
caption {
  caption-side: bottom;
  text-align: left;
  font-size: 0.9rem;
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  width: 100%;
  table-layout: fixed;
}

#tags {
  width: 20%;
}

#code {
  width: 40%;
}

#owner {
  width: 15%;
}

#updated {
  width: 15%;
}

#edit {
  width: 10%;
}

th, td {
  padding: 1rem;
}

td {
  height: 200px;
}

tbody tr:nth-child(odd) {
  background-color: #e9dde5;
}

.tags div, .code div, .owner div {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
}

.edit div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.edit img {
  width: 40px;
  border-radius: 5px;
}

/* Hiding the id */
input[name="id"] {
  display: none;
}

/* Styling for error page */
#error h1, h2, pre {
  color: #000000;
}
