<nav>
  <div>
    <ul>
      <li>
        <a href=".">CRUD Snippets</a>
      </li>
      <li>
        <a href="./snippets">Snippets</a>
      </li>
      <% if (typeof user === 'undefined') { %>
        <li>
          <a href="./snippets/register">Register</a>
        </li>
        <li>
          <div>
            <a href="./snippets/login">Login</a>
          </div>
        </li>
      <% } else { %>
        <li>
          <a href="./snippets/create">Create</a>
        </li>
        <li>
          <div>
            <a href="./snippets/logout">Log out</a>
          </div>
        </li>
        <li>
          User: <%= user %>
        </li>
      <% } %>
    </ul>
  </div>
</nav>