<nav>
  <div>
    <ul>
      <li>
          CRUD Snippets
      </li>
      <li>
        <a href="./">Snippets</a>
      </li>
      <li>
        <a href="./create">Create</a>
      </li>
      <li>
        <form action="./logout" method="post"><button type="submit">Log out</button></form>
      </li>
    </ul>
  </div>
</nav>