<h1>Create Snippet</h1>

<form action="./snippets/create" method="post" class="form createform">
  <label for="snippetcreate">Snippet: </label>
  <textarea name="code" id="snippetcreate" cols="30" rows="10" placeholder="Write code..." required autofocus minlength="3" maxlength="10000"></textarea>
  <label for="tagscreate">Tags (#): </label>
  <input type="text" name="tags" id="tagscreate" placeholder="#tag1 #tag2 #tag3...">
  <button type="submit">Create</button>
  <div class="button"><a href="./snippets">Cancel</a></div>
</form>
