<h1>Create Snippet</h1>

<form action="./snippets/create" method="post">
  <label for="snippet">Code snippet: </label>
  <textarea name="snippet" id="snippet" cols="30" rows="10" placeholder="Write code..." required autofocus></textarea>
  <label>Tags (#): <input type="text" name="tags" placeholder="#tag1 #tag2 #tag3..."></label>
  <button type="submit">Create</button>
</form>
