<h1>Delete Snippet</h1>

<form action="./snippets/<%= viewData.id %>/delete" method="post" class="form">
  <p>Are you sure you want to delete the snippet?</p>
  <input type="text" name="id" value="<%= viewData.id %>">
  <button type="submit">Delete</button>
  <div class="button"><a href="./snippets">Cancel</a></div>
</form>