<h1>Snippets</h1>

<table>
  <caption>List of snippets</caption>
  <thead>
    <tr><th scope="col">Snippet</th><th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% for (const snippet of viewData.snippets) { %>
      <tr>
        <td><%= snippet.code %></td>
        <td><% if (snippet.owner === true) { %>
          <a href="./snippets/update"><img src="./img/edit.png" alt="Edit icon"></a>
          <a href="./snippets/delete"><img src="./img/delete.png" alt="Delete icon"></a>    
        <% } %></td>
      </tr>
    <% } %>
  </tbody>
</table>