<h1>Snippets</h1>

<table>
  <caption>List of snippets</caption>
  <thead>
    <tr><th scope="col">Snippet</th><th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% for (const snippet of viewData.snippets) { %>
      <tr>
        <td id="code"><%= snippet.code %></td>
        <td><% if (snippet.owner === viewData.user) { %>
          <form action="./snippets/update" method="get">
            <button type="submit"><img src="./img/edit.png" alt="Edit icon"></button>
          </form>
          <form action="./snippets/delete" method="post">
            <button type="submit"><img src="./img/delete.png" alt="Delete icon"></button>
          </form>
        <% } %></td>
      </tr>
    <% } %>
  </tbody>
</table>