<h1>Login</h1>

<form action="./snippets/login" method="post">
  <label>Username: <input type="text" name="username" placeholder="username" autofocus required></label>
  <label>Password: <input type="password" name="password" placeholder="password" required></label>
  <button type="submit">Login</button>
</form>