<div id="logout">
  <h1>Log out</h1>
  <form action="./snippets/logout" method="post" class="form">
    <p>Are you sure you want to log out?</p>
    <div id="logoutbuttons">
      <button type="submit">Log out</button>
      <div class="button"><a href="./snippets">Cancel</a></div>
    </div>
  </form>
</div>