<h1>Log out</h1>
<p>Are you sure you want to log out?</p>
<form action="./snippets/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div>
  <a href="./snippets">Cancel</a>
</div>